[submodule "geonode/externalapplications"]
	path = geonode/apps/externalapplications
	url = git@github.com:52North/contrib_externalapplications.git
	branch = main
[submodule "geonode/apps/geonode-sta"]
	path = geonode/apps/geonode_sta
	url = git@github.com:Co-Site/geonode-sta.git
	branch = main
[submodule "docker/geonode/opt-sta-client"]
	path = docker/geonode/opt-sta-client
	url = git@github.com:Co-Site/gn-opt-sta-client.git
	branch = main
[submodule "docker/geonode/gn-mapstore-client"]
	path = docker/geonode/gn-mapstore-client
	url = git@github.com:Co-Site/gn-mapstore-client.git
	branch = main
